* {
    box-sizing: border-box;
}

ul { // Liste des actions sous le titre
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li { // Elements de la liste des actions sous le titre
    float: left;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #14193c;
    display: block;
    padding-left: 36px;
}

// PAYSAGE MODE
@media only screen and (min-width: 667px) {
    ul { // Change position des elements de la liste en paysage
        position: absolute;
        top: 108.5px;
        right: 90.5px;
    }
    body {
        position: fixed; // Evite le scroll en paysage
    }
}