.dot1, .dot2, .dot3, .dot4 { // 4 points du top
    border-radius: 50%;
    position: absolute;
    background-color: white;
    height: 7px;
    width: 7px;
}
.dot1 { // Alignement des points entre eux
  right: 25.5px;
  top: 36.5px;
}
.dot2 { // Alignement des points entre eux
  right: 25.5px;
  top: 25.5px;
}
.dot3 { // Alignement des points entre eux
  right: 14.5px;
  top: 25.5px;
  background-color: #60d8b2;
}
.dot4 { // Alignement des points entre eux
  right: 14.5px;
  top: 36.5px;
}

.header-banner { // Titre principal maquette
    background-color: white;
    width: 320px;
    height: 64px;
    position: absolute;
    top: 272px;
}

// PAYSAGE MODE 
@media only screen and (min-width: 667px) {
    .dot1 { // Alignement des points entre eux en paysage
        background-color: #14193c;
        right: 41.5px;
    }
    .dot2 { // Alignement des points entre eux en paysage
        background-color: #14193c;
        right: 41.5px;
    }
    .dot3 { // Alignement des points entre eux en paysage
        background-color: #60d8b2;
        right: 31px;
    }
    .dot4 { // Alignement des points entre eux en paysage
        background-color: #14193c;
        right: 31px;
    }
    .header-banner { // Alignement du Titre principal en Paysage
        top: 45px;
        left: 340.5px;
    }
}