.btn { // Bouton principal
    width: 60px;
    height: 60px;
    box-shadow: 0px 30px 50px 0 rgba(96, 216, 178, 0.5);
    background-color: #60d8b2;
    border-radius: 50%;
    position: absolute;
    top: 290px;
    right: 25px;
}

// PAYSAGE MODE
@media only screen and (min-width: 667px) {
    .btn { // Changement de place du bouton principal
        top: 168.5px;
        right: 303.5px;
    }
}