.fa-untappd { // Icone principale des bouteilles
    color: white;
    position: absolute;
    top: 21px;
    left: 20px;
    font-size: 24px;
}

.fa-utensils, .fa-clock { // Icones des actions de la liste sous le H1
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
    color: #14193c;
}

.fa-heart { // Icone du coeur au centre du bouton principal
    font-size: 30px;
    color: white;
    padding: 15px 15px;
}