img { // Image portrait
    height: 335px;
    width: 375px;
    position: relative;
}

// PAYSAGE MODE
@media only screen and (min-width: 667px) {
    img { // Image paysage
        height: 375px;
        width: 335px;
    }
}