h1 { // Menu principal
    font-family: Lora;
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    color: #14193c;
    padding-left: 35px;
}

.content-p { // Texte grisé portrait
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #666666;
    padding-left: 61px;
    padding-right: 43.5px;
    padding-top: 28px;
}

// PAYSAGE MODE
@media only screen and (min-width: 667px) {
    .content-p { // Alignement du texte grisé en paysage
        padding-left: 396px;
        margin-top: -267px;
    }
}